body{
    background-color: rgb(255, 255, 255);
}
p{
    color: rgb(255, 0, 0);
}
h1{
    font-family: arial; font-size: 22px;
}
.altP{
    color: rgb(166, 255, 0);
}

.ditt-program{
    background-color: aqua;
    color: blue;
    text-align: center;
}

.dina-tankar{
    text-align: right;
}

.om-mig{
    border: 1px solid black;

}


a{
    text-decoration: none;
}


nav{
    background-color: bisque;
    grid-area: nav;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav li{
    list-style-type: none;
    text-align: center;
    display: grid;
    align-items: stretch;
}

main{
    background-color: khaki;

}
    
